@charset "UTF-8";
/* 
*******************************************
*       CSS GENERAL STYLES STYLES         *
*******************************************
*/
/*
=============================================================
                        VARIABLES
=============================================================
*/
/* Redes sociales */
/*
=============================================================
                        GLOBALES
=============================================================
*/
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100% !important;
  max-height: 600px;
}

body {
  font-family: "Maleah", sans-serif;
  font-weight: 300;
}

.hide {
  display: none;
}

p {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.card {
  border-radius: 30px;
  margin-bottom: 30px;
}

.card-img-top {
  border-radius: 30px;
}

.fw-600 {
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*
=============================================================
                        WHATSAPP
=============================================================
*/
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  font-family: "Jost", sans-serif;
}

.my-float {
  margin-top: 16px;
}

.float:hover {
  color: #ffffff;
}

/*
=============================================================
                        NAVBAR
=============================================================
*/
.navbar-brand {
  font-size: 4.5em;
}

.nav-link, .dropdown-item {
  color: #A47048 !important;
  font-weight: 300;
  font-size: 1.2em;
}

.bg-navbar {
  background-color: #ffffff;
}

.btn-primary {
  background-color: #efe7e1;
  font-weight: 300;
  border-color: #efe7e1;
  color: black;
}

.botonContacto {
  background-color: var(--cala);
  font-weight: 900;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

header li {
  padding: 5px 0;
}

.btn-search {
  background-color: #BA8565 !important;
  border-color: #BA8565 !important;
  color: #ffffff !important;
  font-weight: 300;
}

/*
=============================================================
                        FOOTER
=============================================================
*/
footer {
  background-color: #cfb7a4;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
}

.fa-instagram {
  color: #c32aa3;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #00ACEE;
}

.fa-pinterest {
  color: #C8232C;
}

.contact {
  display: flex;
  vertical-align: baseline;
}

/*
=============================================================
                        MIXINS
=============================================================
*/
/*
*******************************************
*       CSS INDEX STYLES                  *
*******************************************
*/
/*
======================
        Políticas
======================
*/
.politicasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cala);
}

.politicas {
  padding: 20px 0;
}

.politicas h3 {
  font-weight: 900;
  font-size: 1.8em;
}

.politicasIcon {
  text-align: center;
  padding-top: 20px;
  font-size: 2.5em;
}

/*
======================
        Políticas
======================
*/
.destacados {
  text-align: center;
}

.mainProducts {
  display: flex;
  flex-direction: column;
}

.mainProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

/*
======================
        Contacto
======================
*/
.contact {
  display: flex;
  vertical-align: baseline;
}

.contactForm {
  background-color: #faebd7;
  max-width: 30%;
  margin: auto;
}

.contactForm ul li {
  padding: 5px 0;
}

.contactForm ul li:last-child {
  text-align: right;
  padding: 10px;
}

.contacto {
  background-color: #DAC0A5;
  border-radius: 15px;
}

.btn-contacto {
  margin: 20px;
}

.btn-contacto:hover {
  background-color: #BA8565;
  font-weight: 600;
  border-color: #BA8565;
}

/* 
*******************************************
*       CSS ABOUT STYLES                  *
*******************************************
*/
/*
=============================================================
                        ABOUT
=============================================================
*/
.about {
  margin-top: 250px;
}

.segunda-row {
  margin-top: 150px;
}

/* 
*******************************************
*       CSS ESPECIEROS STYLES             *
*******************************************
*/
/*
======================
        Especieros
======================
*/
.especieros {
  margin-top: 200px;
}

/*# sourceMappingURL=style.css.map */
