/*
=============================================================
                        VARIABLES
=============================================================
*/


$cala: #faebd7;
$white: #ffffff;
$beige1: #D8CEC2;
$beige2: #DAC0A5;
$celeste: #BEBFC3;
$marron: #BA8565;
$hazel: #C2BAA1;
$fontcolor: #A47048;
$footer: #cfb7a4;
$bg-color: #efe7e1;

/* Redes sociales */
$instagram: #c32aa3;
$facebook: #3B5998;
$twitter: #00ACEE;
$pinterest: #C8232C;
