/*
=============================================================
                        ABOUT
=============================================================
*/
$margin: 100px;

.about {
    margin-top: ($margin*3)-50;
}

.segunda-row {
    margin-top: $margin*1.5;
}
